body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0f172a;
  font-family: Arial;
  color: white;
}

.tela {
  display: none;
  text-align: center;
}

.ativa {
  display: block;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  background: #2563eb;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

button:hover {
  background: #1d4ed8;
}

/* LEDs */
.leds {
  margin-top: 20px;
}

.led {
  width: 20px;
  height: 20px;
  background: #1e293b;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}

.led.ativo {
  background: #22c55e;
  box-shadow: 0 0 10px #22c55e;
}
